@charset "utf-8";

.h-nav ul
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    background: rgb(49, 49, 49);
}

.h-nav li
{
    background: rgb(49, 49, 49);
    padding: 1.5em;
}