@charset "utf-8";

.v-flexbox
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
    width: 80%;
}