@charset "utf-8";

.v-flex-item
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    padding: 10px 10px 10px 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.v-inner-item
{
    justify-content: center;
    text-align: center;
    border: 8px;
    border-color: rgb(49, 49, 49);
    border-style: solid;
    padding: 0px 10px 0px 10px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.v-inner-item h1 a:hover
{
    opacity: 0.3;
}

.v-inner-item .v-nav li
{
    font-size: 1.2em;
    padding-bottom: 1.5em;
}

.v-inner-item .v-nav li a img
{
    width: 50%;
}