@charset "utf-8";

@media only screen and (max-width: 640px)
{
    .h-flexbox
    {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        text-align: center;
        padding: 10px 5px 10px 5px;
        width: 100%;
        height: 100%;
    }

    .v-flex-item
    {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        text-align: center;
        padding: 10px 10px 10px 10px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .v-flex-item img
    {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .item-preview-title
    {
        font-size: 20px;
        width: 90%;
        padding: 5px;
    }

    .item-preview-description
    {
        font-size: 0.7em;
        margin: 0% 10% 0% 10%;
        max-height: 256px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}