@charset "utf-8";

@import url("/Styles/Classes/h_flexbox.css");
@import url("/Styles/Classes/v_flexbox.css");
@import url("/Styles/Classes/v_flex_item.css");
@import url("/Styles/Classes/h_nav.css");
@import url("/Styles/Classes/v_nav.css");
@import url("/Styles/Classes/item-preview.css");

@import url("/Styles/IDs/site_header.css");
@import url("/Styles/IDs/site_footer.css");
@import url("/Styles/IDs/see_more_banner.css");

@import url("/Styles/Mobile/mobile.css");

/* --- html --- */
html
{
    height: 100%;
}

/* --- Body --- */
body
{
    color: beige;
    background: rgb(67, 67, 67);
}

/* --- Header --- */
header
{
    text-align: center;
}

/* --- Footer --- */
footer
{
    background: rgb(49, 49, 49);
    color: beige;
    font-size: 0.9em;
    padding: 10px;
    width: 100%;
}

/* --- h1-n --- */
h1, h2
{
    background: rgb(49, 49, 49);
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

h1
{
    font-size: 30px;
    padding-top: 35px;
    padding-bottom: 35px;
}

h2
{
    font-size: 28px;
    padding-top: 14px;
    padding-bottom: 14px;
    line-height: 1.1em;
}

/* --- Nav --- */
nav ul
{
    font-size: 1.3em;
}

/* --- Links --- */
a
{
    text-decoration: none;
}

a:link, 
a:visited
{
    color: beige;
}

/* --- img --- */
img
{
    width: 90%;
    margin: 0% auto 0% auto;
    box-shadow: 10px 5px 5px rgb(49, 49, 49);
    border-radius: 5px;
}

/* --- video --- */
video
{
    width: 100%;
    margin: 0% auto 0% auto;
    box-shadow: 10px 5px 5px rgb(49, 49, 49);
    border-radius: 5px;
}

/* --- Button --- */
button
{
    display: block;
    background-color: rgb(49, 49, 49);
    border: 3px solid rgb(36, 36, 36);
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover
{
    background-color: rgb(58, 58, 58);
}

button:active
{
    background-color: rgb(26, 26, 26);
}

/* --- v-break --- */
.v-break
{
    padding-top: 30px;
}