.user-area
{
    text-align: left;
    margin: 20px 50px 20px 50px;
    line-height: 1.5em;
}

.user-label
{
    font-size: 22px;
    font-weight: bold;
    color: beige;
}

.user-input
{
    display: block;
    width: 50%;
    height: 30px;
    background-color: rgb(49, 49, 49);
    color: beige;
    border: 3px solid rgb(36, 36, 36);
    border-radius: 5px;
}

#messagebox-input
{
    width: 100%;
    height: 100%;
    resize: none;
}

#submit-button
{
    display: block;
    background-color: rgb(49, 49, 49);
    border: 3px solid rgb(36, 36, 36);
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#submit-button:hover
{
    background-color: rgb(58, 58, 58);
}

#submit-button:active
{
    background-color: rgb(26, 26, 26);
}

input:invalid
{
    background-color: rgba(147, 1, 0, 0.5);
}

input:valid
{
    background-color: rgb(49, 49, 49);
    color: beige;
}