#title
{
    font-size: 26px;
    margin: 2% 0% 2% 0%;
}

#date
{
    margin: 0% 0% 2% 0%;
}

#content
{
    margin: 5%;
}

.v-inner-item
{
    font-size: 22px;
    line-height: 1.6em;
}

.v-inner-item p
{
    text-align: left;
}

ul
{
    list-style: square;
}

ul li
{
    text-align: left;
}

@media only screen and (max-width: 640px)
{
    .v-flex-item
    {
        width: 100%;
    }
}

@media only screen and (min-width: 641px)
{
    .v-flex-item
    {
        width: 60%;
    }
}